*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@include font-face('OpenSans', 'OpenSans-Regular', 400);
@include font-face('OpenSans', 'OpenSans-Medium', 500);
@include font-face('OpenSans', 'OpenSans-SemiBold', 600);
@include font-face('OpenSans', 'OpenSans-Bold', 700);

html,
body {
    font-size: 16px;
    line-height: 24px;
}

body {
    position: relative;
    background-color: #FAFAFA;
    color: $neutral500;
    font-family: 'OpenSans', sans-serif;
    font-weight: 500;
    min-height: 100dvh;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

main {
    margin-top: 30px;
    @include media($xsPlus) {
        margin-top: 20px;
    }
}

a {
    text-decoration: none;
    color: $neutral500;
    cursor: pointer;
    display: block;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
}

svg {
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

.router-link-exact-active {
    pointer-events: none;
}

.container-80 {
    width: min(100% - 8.333333vw, 1920px);
    margin-inline: auto;
    @include media($lg) {
        width: min(100% - 11.111111vw, 1920px);
    }
    @include media($mdPlus) {
        width: min(100% - 7.8125vw, 1920px);
    }
    @include media($md) {
        width: min(100% - 7.8125vw, 1920px);
    }
    @include media($sm) {
        width: min(100% - 32px, 1920px);
    }
}