// Colors
$white: #FFFFFF;

$neutral300: #D9D9D9;
$neutral400: #9C9F9B;
$neutral500: #757575;
$neutral600: #272727;

$green: #4BAD3B;

$red: #E21818;

// Transitions time
$transitionTime: 0.5s;

// Media queries breakpoints
$xlPlus: 2560;
$xl: 2048;
$lgPlus: 1920;
$lg: 1440;
$mdPlus: 1280;
$md: 1024;
$smPlus: 991;
$sm: 768;
$xsPlus: 576;
$xs: 375;