.client-card {
    margin-top: 20px;
    @include media($sm) {
        margin-top: 0;
        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }
    @include media($xsPlus) {
        &:not(:first-of-type) {
            margin-top: 15px;
        }
    }
    &__wrapper {
        padding: 20px;
        border: 1px solid $neutral300;
        border-radius: 10px;
        justify-content: space-between;
        column-gap: 28px;
        box-shadow: 0px 4px 4px 0px #00000040;
        @include media($smPlus) {
            column-gap: 0;
        }
        @include media($sm) {
            flex-direction: column;
            align-items: flex-end;
            row-gap: 20px;
            background-color: $white;
            border: none;
            box-shadow: initial;
        }
        @include media($xsPlus) {
            padding: 30px 15px;
            row-gap: 5px;
        }
    }
    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 50px;
        @include media($smPlus) {
            column-gap: 0;
        }
        @include media($sm) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;
            column-gap: 20px;
        }
        @include media($xsPlus) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        font-size: 14px;
        line-height: 20px;
        @include media($sm) {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 20px;
            row-gap: 5px;
            &:not(:last-of-type) {
                border-bottom: 1px solid #FAFAFA;
            }
        }
        @include media($xsPlus) {
            grid-template-columns: 1fr 1fr;
            padding-bottom: 15px;
        }
        &-label {
            display: none;
            @include media($sm) {
                display: block;
            }
        }
    }
}
