.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    &__wrapper {
        background-color: $white;
        border-radius: 0 0 10px 10px;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center;
    }
    &__user {
        align-items: center;
        column-gap: 15px;
        color: $neutral600;
    }
}