.layout__sidebar {
    flex-direction: column;
    row-gap: 170px;
    padding: 30px;
    background-color: $white;
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    top: 90px;
    &-navigation {
        flex-direction: column;
        row-gap: 20px;
        & > li {
            width: fit-content;
        }
        a {
            align-items: center;
            column-gap: 15px;
            transition: color $transitionTime;
            & > svg {
                path {
                    transition: stroke $transitionTime;
                }
            }
            &:hover {
                color: $green;
                svg path {
                    stroke: $green;
                }
            }
            &.router-link-active {
                color: $green;
                svg path {
                    stroke: $green;
                }
            }
        }
    }
    &-exit {
        border-top: 1px solid #d9d9d9;
        padding-top: 20px;
        button {
            align-items: center;
            column-gap: 15px;
            color: $neutral500;
            cursor: pointer;
            transition: color $transitionTime;
            &:hover {
                color: $red;
            }
        }
    }
}
