.layout__sidebar {
    flex-direction: column;
    row-gap: 170px;
    padding: 30px;
    background-color: $white;
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    top: 90px;
    @include media($mdPlus) {
        top: initial;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    @include media($smPlus) {
        padding: 15px 30px;
    }
    @include media($sm) {
        column-gap: 6.510417vw;
    }
    @include media($xsPlus) {
        padding: 10px 15px;
        width: calc(100% + 32px);
        margin-left: -16px;
        column-gap: 15px;
        display: grid;
        grid-template-columns: 85% max-content;
    }
    &-navigation {
        flex-direction: column;
        row-gap: 20px;
        @include media($mdPlus) {
            flex-direction: row;
            width: 100%;
            column-gap: 50px;
        }
        @include media($sm) {
            column-gap: 0;
            justify-content: space-between;
        }
        @include media($xsPlus) {
            font-size: 13px;
            line-height: 18px;
            column-gap: 15px;
        }
        & > li {
            width: fit-content;
        }
        a {
            align-items: center;
            column-gap: 15px;
            transition: color $transitionTime;
            @include media($smPlus) {
                flex-direction: column;
                row-gap: 3px;
            }
            @include media($xsPlus) {
                row-gap: 0;
            }
            &:hover {
                color: $green;
                svg path {
                    stroke: $green;
                }
            }
            & > svg {
                @include media($smPlus) {
                    width: 30px;
                    height: 30px;
                }
                path {
                    transition: stroke $transitionTime;
                }
                &.rotate {
                    @include media($xsPlus) {
                        transform: rotate(-45deg);
                    }
                }
            }

            span {
                @include media($xsPlus) {
                    display: block;
                    max-width: 48px; // Змінюється в залежності від ширини контейнера
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis; // додає три крапки для тексту
                }
            }
            &.router-link-active {
                color: $green;
                svg path {
                    stroke: $green;
                }
            }
        }
    }
    &-exit {
        border-top: 1px solid #d9d9d9;
        padding-top: 20px;
        @include media($mdPlus) {
            padding-top: 0;
            border-top: none;
        }
        button {
            align-items: center;
            column-gap: 15px;
            color: $neutral500;
            cursor: pointer;
            transition: color $transitionTime;
            @include media($smPlus) {
                flex-direction: column;
                row-gap: 3px;
            }
            @include media($xsPlus) {
                font-size: 13px;
                line-height: 18px;
                row-gap: 0;
            }
            &:hover {
                color: $red;
            }
            svg {
                @include media($smPlus) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
